{{ define "menu-form" }}
<div>
    <div id="go-back" class="menu-form-left">
        <a href="/worker">
            <button id="back">Back</button>
        </a>
    </div>
    <div class="menu-form-left">
        <form method="GET" action="/worker/chart">
            <input type="hidden" id="id" name="id" value="{{ .ID }}">
            <label for="date">Date: </label>
            <input type="date" id="date" name="date" value="{{ .Date }}" min="{{ .MinDate }}" max="{{ .MaxDate }}" required>
            <input id="show" type="submit" value="Show">
        </form>
    </div>
</div>
{{ end }}
