{{ define "menu-left" }}
    <div id="menu-left">
        <div style="padding: 10px; display: inline-block;">
            <form method="POST" action="/worker/edit">
                <input type="hidden" id="id" name="id" value="{{ .ID }}">
                <input type="hidden" id="running" name="running" value="{{ .Running }}">
                <label for="city">City</label>
                <select id="city" name="city">
                    {{ range $k, $v := .Cities }}
                        <option value="{{ $k }}" {{ if eq $k $.CityID }} selected {{ end }}>{{ $v.Name }}</option>
                    {{ end }}
                </select>
                <label for="interval">Interval [sec]</label>
                <input id="interval" name="interval" type="number" value="{{ .Interval }}"  min="1" max="86400">
                <label for="send"></label>
                <input id="send" type="submit" value="Save">
            </form>
        </div>
    </div>
{{ end }}
