{{ define "menu-form" }}
<form method="POST" action="/worker/edit">
    <section>
        <input type="hidden" id="id" name="id" value="{{ .ID }}">
        <input type="hidden" id="running" name="running" value="{{ .Running }}">
        <div class="menu-form-left">
            <label for="city">City</label>
            <select id="city" name="city">
                {{ range $k, $v := .Cities }}
                <option value="{{ $k }}" {{ if eq $k $.CityID }} selected {{ end }}>{{ $v.Name }}</option>
                {{end}}
            </select>
        </div>
    
        <div class="menu-form-left">
            <label for="interval">Interval [sec]</label>
            <input id="interval" name="interval" type="number" value="{{ .Interval }}"  min="1" max="86400">
        </div>
        
        <div class="menu-form-right">
            <label for="send"></label>
            <input id="send" type="submit" value="Save">
        </div>
    
        <br style="clear:both;"/>
    </section>
</form>
{{ end }}
