<html>
    {{ template "head" . }}
    <body>
        {{ template "menu" . }}
        <div id="content">
            {{ if .Workers }}
            <table>
                <thead>
                    <tr class="first-row">
                        <th class="first-col">#</th>
                        <th class="second-col">City</th>
                        <th>Interval</th>
                        <th class="last-col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $i, $v := .Workers }}
                    <tr>
                        <td class="first-col">{{ $i }}</td>
                        <td class="second-col">{{ $v.City.Name }}</td>
                        <td>{{ $v.Interval }}s</td>
                        <td class="last-col">
                            {{ if $v.Running }}
                            <a class="icon" title="Pause" href="/worker/pause?id={{ $v.ID }}">
                                <svg id="pause-button" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                                    <path d="M0 0v6h2v-6h-2zm4 0v6h2v-6h-2z" transform="translate(1 1)" />
                                </svg>
                            </a>
                            {{ else }}
                            <a title="Start" href="/worker/start?id={{ $v.ID }}">
                                <svg id="play-button"xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                                    <path d="M0 0v6l6-3-6-3z" transform="translate(1 1)" />
                                </svg>
                            </a>
                            {{ end }}
                            <a title="Edit" href="/worker/edit?id={{ $v.ID }}">
                                <svg id="edit-button" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                                    <path d="M3.5 0l-.5 1.19c-.1.03-.19.08-.28.13l-1.19-.5-.72.72.5 1.19c-.05.1-.09.18-.13.28l-1.19.5v1l1.19.5c.04.1.08.18.13.28l-.5 1.19.72.72 1.19-.5c.09.04.18.09.28.13l.5 1.19h1l.5-1.19c.09-.04.19-.08.28-.13l1.19.5.72-.72-.5-1.19c.04-.09.09-.19.13-.28l1.19-.5v-1l-1.19-.5c-.03-.09-.08-.19-.13-.28l.5-1.19-.72-.72-1.19.5c-.09-.04-.19-.09-.28-.13l-.5-1.19h-1zm.5 2.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5z"/>
                                </svg>
                            </a>
                            <a title="Delete" href="/worker/delete?id={{ $v.ID }}">
                                <svg id="delete-button" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                                    <path d="M2 0l-2 3 2 3h6v-6h-6zm1.5.78l1.5 1.5 1.5-1.5.72.72-1.5 1.5 1.5 1.5-.72.72-1.5-1.5-1.5 1.5-.72-.72 1.5-1.5-1.5-1.5.72-.72z" transform="translate(0 1)" />
                                </svg>
                            </a>
                            <a title="Show weather chart" href="/worker/chart?id={{ $v.ID }}">
                                <svg id="chart-button" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                                    <path d="M0 0v7h8v-1h-7v-6h-1zm5 0v5h2v-5h-2zm-3 2v3h2v-3h-2z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            {{ else }}
            <p>No workers registered.</p>
            {{ end }}
        </div>
    </body>
</html>